body{
    padding:0;
    margin:0;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    background-image:linear-gradient(rgba(9,5,54,0.3), rgba(5,4,46,0.7)), url("bgimage.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    display:flex;
    flex-direction:column;
    justify-content:center;
    /* background: #94a9b8*/;
} 

.container{
    width:45%;
    height:45vh;
    padding:10px;
    border-radius:8px;
    box-shadow:12px 12px 20px #0a2744;
    background-color:#011625;
}

.display #screen{
    width:97%;
    height:70px;
    font-size:35px;
    outline:none;
    border:none;
    text-align:right;
    padding-right: .5em;
    background:#a3aeb7;
    border-radius:6px;
    box-shadow:inset 8px 8px 8px #0a2744, 
               inset -8px -8px 8px #ffffff; 
}

.btns{
    width:100%;
    margin-top:1.7em;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}

.btns .row button{
    width:80px;
    height:30px;
    font-size:16px;
    border:none;
    outline:none;
    margin:5px;
    border-radius:4px;
    background:#94a9b8;
    box-shadow:2px 2px 5px #ffffff,
              -2px -2px 5px #0a2744;
                transition: .1s;
}

.btns .row button:hover{
    box-shadow:inset 2px 2px 5px #0a2744,
               inset -2px -2px 5px #ffffff; 
    background:rgba(225, 192, 218, 0.7);
}

#eval{
    background:#f69708;
    color: #0a2744;
    
}

#eval:hover{
    background: #d8c8a9;
    box-shadow:inset 2px 2px 5px #f4d380,
               inset -2px -2px 5px #ffffff; 
}

#ce{
    background:#f69708;
    color: #0a2744;
    
}

#ce:hover{
    background: #d8c8a9;
    box-shadow:inset 2px 2px 5px #f4d380,
               inset -2px -2px 5px #ffffff; 
}

#ac{
    background:#f69708;
    color: #0a2744;
    
}

#ac:hover{
    background: #d8c8a9;
    box-shadow:inset 2px 2px 5px #f4d380,
               inset -2px -2px 5px #ffffff; 
}

